<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>XX Apartment Management System</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">XX Apartment Management System</a>
        </div>
        <div id="navbar" class="navbar navbar-default">
          <ul class="nav navbar-nav">
            <li><a href="/">Search by ID</a></li>
            <li><a href="/tenant/add">Add Tenant</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>
